<div class="wrapper">
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let player of players; let playerId = index">
        <ng-container *ngIf="player.mai_team === 'TRUE'">
          <div class="col-md-3 col-sm-4 col-6">
            <a [routerLink]="[ player.id ]">
              <div class="card">
                <img class="card-img-top" src="{{ player.img }}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">{{ player.belongings }}</p>
                  <h5 class="card-text">{{ player.name }}</h5>
                </div>
              </div>
            </a>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
