@import 'src/assets/styles/reset.scss';
@import 'src/assets/styles/buttons.scss';

.Button_PrimaryButtonWithWhiteBg {
  @include button-style(primary, var(--color-secondary));
}

.Button_SecondaryButtonWithWhiteBg {
  @include button-style(secondary, var(--color-secondary));
}

.Button_GhostButtonWithWhiteBg {
  @include button-style(ghost, var(--color-secondary));
}

// .Button_PrimaryButtonWithBlackBg {
//   @include button-style(primary, var(--color-primary));
// }

// .Button_SecondaryButtonWithBlackBg {
//   @include button-style(secondary, var(--color-primary));
// }

// .Button_GhostButtonWithBlackBg {
//   @include button-style(ghost, var(--color-primary));
// }

.row {
  display: flex;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
}
