<h2>Activated</h2>
<div class="row">
  <div class="column">
    <div class="buttons" style="background-color: white;">
      <button class="PlayerDetail_PrimaryButtonWithWhiteBg">Primary</button>
      <button class="PlayerDetail_SecondaryButtonWithWhiteBg">Secondary</button>
      <button class="PlayerDetail_GhostButtonWithWhiteBg">Ghost</button>
    </div>
  </div>
  <div class="column">
    <div class="buttons" style="background-color: black;">
      <button class="PlayerDetail_PrimaryButtonWithBlackBg">Primary</button>
      <button class="PlayerDetail_SecondaryButtonWithBlackBg">Secondary</button>
      <button class="PlayerDetail_GhostButtonWithBlackBg">Ghost</button>
    </div>
  </div>
</div>
<h2>Disabled</h2>
<div class="row">
  <div class="column">
    <div class="buttons" style="background-color: white;">
      <button class="PlayerDetail_PrimaryButtonWithWhiteBg" disabled>Primary</button>
      <button class="PlayerDetail_SecondaryButtonWithWhiteBg" disabled>Secondary</button>
      <button class="PlayerDetail_GhostButtonWithWhiteBg" disabled>Ghost</button>
    </div>
  </div>
  <div class="column">
    <div class="buttons" style="background-color: black;">
      <button class="PlayerDetail_PrimaryButtonWithBlackBg" disabled>Primary</button>
      <button class="PlayerDetail_SecondaryButtonWithBlackBg" disabled>Secondary</button>
      <button class="PlayerDetail_GhostButtonWithBlackBg" disabled>Ghost</button>
    </div>
  </div>
</div>
